-# Subscription underscore template
:plain
  <script id='tmpl-subscription' type='text/template'>
    <td>
      <%= feed.title %>
    </td>
    <td>
      <%= feed.unread_count %>
    </td>
    <td>
      <%= feed.last_update %>
    </td>
    <td>
      <%= feed.last_sync %>
    </td>
    <td class="text-error">
      <% if(feed.sync_error) { %>
        <%= feed.sync_error %>
      <% } %>
    </td>
    <td>
      <% if(feed.pshb != 'unavailable') { %>
        <% if(feed.pshb == 'inactive') { %>
          <i class="fa fa-square-o togglePSHBAction"></i>
          #{t.subscription.pshb.inactive}
        <% } else { %>
          <i class="fa fa-check-square-o togglePSHBAction"></i>
          <% if(feed.pshb == 'active') { %>
            #{t.subscription.pshb.active}
          <% } else { %>
            #{t.subscription.pshb.requested}
          <% } %>
        <% } %>
      <% } %>
    </td>
    <td>
      <a class="btn btn-default deleteFeedAction" title="#{t.buttons.delete}"><i class="fa fa-trash-o"></i></a>
    </td>
  </script>
