-# Search form

%div(class="modal hide fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true")
  .modal-header
    =t.search.title
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
      x
  %form(id="searchForm" method="get" action="#")
    .modal-body
      .input-append
        %input(class="span3" type="text" id="searchQuery" aria-hidden="true")
        %button(type="submit" id="searchButton" class="btn" aria-hidden="true")
          %i.icon.icon-search
      %label.checkbox
        %input(type="checkbox" id="searchInTitle" checked="checked")
        =t.search.in_title
      =t.search.sort_by
      %select(id="sortType")
        %option(value="dateAsc")
          =t.search.sort.date.asc
        %option(value="dateDesc" selected="selected")
          =t.search.sort.date.desc
        %option(value="titleAsc")
          =t.search.sort.title.asc
        %option(value="titleDesc")
          =t.search.sort.title.desc
