-# Folder edition underscore template
:plain
  <script id='tmpl-folder-edit' type='text/template'>
    <div class="modal fade" id="editFolderModal" tabindex="-1" role="dialog" aria-labelledby="editFolderModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            #{t.edit_folder.title}
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          </div>
          <form id="editFolderForm" method="get" action="#">
            <div class="modal-body">
              <label for="folderTitle">#{t.edit_folder.title_label}</label>
              <input class="form-control" type="text" id="folderTitle" aria-hidden="true" value="<%= folder.title %>">
            </div>
            <div class="modal-footer">
              <button type="submit" id="saveFolderButton" class="btn btn-primary" aria-hidden="true">#{t.edit_folder.save}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </script>

