.feed-list.well.well-small.container
  .navbar.affix
    .navbar-inner
      .btn-group
        %button(class="btn btn-inverse")
          %i(id="spinner" class="icon-spinner icon-large invisible")
        %button(class="btn" id="syncButton")
          %i(class="icon-refresh")
        %button(class="btn" href="#opmlModal" role="button" data-toggle="modal")
          %i(class="icon-upload")
        %a(class="btn" href="/export.opml")
          %i(class="icon-download-alt")
        %button(class="btn" href="#subscriptionModal" role="button" data-toggle="modal")
          %i(class="icon-plus")
  %ul(id="feed-list" class="nav nav-list")
.item-list
  %ul(id="item-list" class="nav nav-list")

-# OPML Upload Modal Dialog

%form(class="upload-form" method="post" enctype="multipart/form-data" action="/opml_upload")
  %div(class="modal hide fade" id="opmlModal" tabindex="-1" role="dialog" aria-labelledby="opmlModal" aria-hidden="true")
    .modal-header
      OPML Upload
      %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
        x
    .modal-body
      %input(type="file" name="file" aria-hidden="true")
    .modal-footer
      %button(type="submit" class="btn btn-primary" aria-hidden="true")
        Upload OPML

-# Subscription form

%div(class="modal hide fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal" aria-hidden="true")
  .modal-header
    Subscribe
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
      x
  .modal-body
    %label
      URL :
    %input(class="input-block-level" type="text" id="subscriptionUrl" aria-hidden="true")
    %label
      Folder :
    %input(class="input-block-level" type="text" id="subscriptionFolder" aria-hidden="true")
  .modal-footer
    %button(type="button" id="subscribeButton" data-dismiss="modal" class="btn btn-primary" aria-hidden="true")
      Subscribe

-# Edit feed form

%div(class="modal hide fade" id="editFeedModal" tabindex="-1" role="dialog" aria-labelledby="editFeedModal" aria-hidden="true")
  .modal-header
    Edit feed
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
      x
  .modal-body
    %label
      URL :
    %input(class="input-block-level" type="text" id="feedUrl" aria-hidden="true")
    %label
      Folder :
    %input(class="input-block-level" type="text" id="feedFolder" aria-hidden="true")
    %input(type="hidden" id="feedId" value="")
  .modal-footer
    %button(type="button" id="editFeedButton" data-dismiss="modal" class="btn btn-primary" aria-hidden="true")
      Save


-# Underscore Templates

:plain
  <script id='tmpl-folder' type='text/template'>
    <i class="folder-icon <% if(open){ %>icon-folder-open<% }else{ %>icon-folder-close<% } %>"></i>
    <span class="folderTitle">
      <% if(unread_count > 0) { %>
        <b><%= title %></b>
        <span class="badge badge-info"><%= unread_count %></span>
      <% }else{ %>
        <%= title %>
      <% } %>
    </span>
    <span class="dropdown">
      <i class="icon icon-caret-down dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu" role="menu" aria-labelledby="folder-<%= id %>-menu">
        <li><a class="markFolderReadAction">Mark all read</a</li>
        <li><a class="markFolderUnreadAction">Mark all unread</a></li>
        <li><a class="syncFolderAction">Sync</a></li>
        <li><a class="deleteFolderAction">Delete</a></li>
      </ul>
    </span>
  </script>

  <script id='tmpl-feed' type='text/template'>
    <span class="dropdown">
      <i class="icon icon-caret-down dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu" role="menu" aria-labelledby="feed-<%= id %>-menu">
        <li><a class="markFeedReadAction">Mark all read</a></li>
        <li><a class="markFeedUnreadAction">Mark all unread</a></li>
        <li><a class="syncFeedAction">Sync</a></li>
        <li><a class="editFeedAction">Edit</a></li>
        <li><a class="deleteFeedAction">Delete</a></li>
      </ul>
    </span>
    <span class="feedName">
      <% if(unread_count > 0) { %>
        <b><%= title %></b>
        <span class="badge badge-info"><%= unread_count %></span>
      <% }else{ %>
        <%= title %>
      <% } %>
    </span>
  </script>

  <script id='tmpl-item' type='text/template'>
    <div class="item-container">
      <div class="item-icons">
        <span class="dropdown">
          <i class="icon icon-caret-down dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" role="menu" aria-labelledby="item-<%= id %>-menu">
            <li><a class="readOlderAction">Mark older items read</a></li>
          </ul>
        </span>
        <i class="readUnreadIcon icon-circle<% if(read){ %>-blank<% } %>"></i>
      </div>

      <div class="item-date">
        <span class="label">
          <%= new Date(date).toLocaleString() %>
        </span>
      </div>

      <div class="item-title">
        <% if(!read){ %>
          <b><%= title %></b>
        <% }else{ %>
          <%= title %>
        <% } %>
      </div>
    </div>

    <% if(open){ %>
      <div class="well item-content">
        <a href="<%= url %>" target="_blank"><%= title %></a>
        <br>
        <%= content %>
      </div>
    <% } %>
  </script>
