.side-bar
  .navbar
    .navbar-inner
      %button(class="btn mobile-item-button visible-phone invisible" id="mobileBackButton" title="Back")
        %i(class="icon-arrow-left")
      .btn-group
        %button(class="btn btn-inverse hidden-tiny-phone")
          %i(id="spinner" class="icon-spinner icon-large invisible")
        %button(class="btn" id="syncButton" title="Sync")
          %i(class="icon-refresh")
        %button(class="btn" href="#subscriptionModal" role="button" data-toggle="modal" title="Subscribe")
          %i(class="icon-plus")
        %button(class="btn hidden-tiny-phone" href="#settingsModal" role="button" data-toggle="modal" title="Settings")
          %i(class="icon-cog")
      .btn-group
        %button(class="btn mobile-item-button visible-phone invisible" id="mobileNextItem" title="Previous item")
          %i(class="icon-circle-arrow-left")
        %button(class="btn mobile-item-button visible-phone invisible" id="mobilePrevItem" title="Next item")
          %i(class="icon-circle-arrow-right")
  .feed-list
    %ul(id="feed-list" class="nav nav-list")
.content
  #item-list.hidden-phone

-# Subscription form

%div(class="modal hide fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal" aria-hidden="true")
  .modal-header
    Subscribe
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
      x
  .modal-body
    %label
      URL :
    %input(class="input-block-level" type="text" id="subscriptionUrl" aria-hidden="true")
    %label
      Folder :
    %input(class="input-block-level" type="text" id="subscriptionFolder" aria-hidden="true")
  .modal-footer
    %button(type="button" id="subscribeButton" data-dismiss="modal" class="btn btn-primary" aria-hidden="true")
      Subscribe

-# Edit feed form

%div(class="modal hide fade" id="editFeedModal" tabindex="-1" role="dialog" aria-labelledby="editFeedModal" aria-hidden="true")
  .modal-header
    Edit feed
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
      x
  .modal-body
    %label
      URL :
    %input(class="input-block-level" type="text" id="feedUrl" aria-hidden="true")
    %label
      Folder :
    %input(class="input-block-level" type="text" id="feedFolder" aria-hidden="true")
    %label.checkbox
      %input(type="checkbox" id="resetFeed" checked="checked")
      Reset feed
    %input(type="hidden" id="feedId" value="")
  .modal-footer
    %button(type="button" id="editFeedButton" data-dismiss="modal" class="btn btn-primary" aria-hidden="true")
      Save

-# Settings form

%form(class="settings-form form-horizontal" method="post" enctype="multipart/form-data" action="/save_settings")
  %div(class="modal hide fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModal" aria-hidden="true")
    .modal-header
      Settings
      %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
        x
    .modal-body
      .well
        .control-group
          %label.control-label
            Username :
          .controls
            %input(class="input-block-level" type="text" name="username" value="#{settings.username}" aria-hidden="true")
        .control-group
          %label.control-label
            Current password :
          .controls
            %input(class="input-block-level" type="password" name="old_password" aria-hidden="true")
        .control-group
          %label.control-label
            New Password :
          .controls
            %input(class="input-block-level" type="password" name="new_password" aria-hidden="true")
      %label
        "Clean up" deletes items older than :
      .input-append
        %input(class="input-block-level" type="text" id="cleanup_after" name="cleanup_after" value="#{settings.cleanup_after}" aria-hidden="true")
        %span.add-on
          days
      %button(class="btn pull-right" id="cleanupButton" data-dismiss="modal" title="Cleanup feeds")
        Clean up feeds
      .well
        %button(class="btn" href="#opmlModal" role="button" data-dismiss="modal" data-toggle="modal" title="Import OPML")
          Import OPML file
        %a(class="btn" href="/export.opml" title="Export to OPML")
          Export feeds as OPML
    .modal-footer
      %button(type="submit" class="btn btn-primary" aria-hidden="true")
        Save

-# OPML Upload Modal Dialog

%form(class="upload-form" method="post" enctype="multipart/form-data" action="/opml_upload")
  %div(class="modal hide fade" id="opmlModal" tabindex="-1" role="dialog" aria-labelledby="opmlModal" aria-hidden="true")
    .modal-header
      OPML Upload
      %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
        x
    .modal-body
      %input(type="file" name="file" aria-hidden="true")
    .modal-footer
      %button(type="submit" class="btn btn-primary" aria-hidden="true")
        Upload OPML


-# Underscore Templates

:plain
  <script id='tmpl-folder' type='text/template'>
    <div class="folderTitle<% if(active){ %> active <% } %>">
      <i class="folder-icon <% if(open){ %>icon-folder-open<% }else{ %>icon-folder-close<% } %>"></i>
      <% if(unread_count > 0) { %>
        <b><%= title %></b>
        <span class="badge badge-info"><%= unread_count %></span>
      <% }else{ %>
        <%= title %>
      <% } %>
      <i class="icon icon-caret-down menu-toggle"></i>
    </div>
    <div class="btn-group folderMenu hide">
      <a class="btn markFolderReadAction" title="Mark all read"><i class="icon-eye-open"></i></a>
      <a class="btn markFolderUnreadAction" title="Mark all unread"><i class="icon-eye-close"></i></a>
      <a class="btn syncFolderAction" title="Sync"><i class="icon-refresh"></i></a>
      <a class="btn deleteFolderAction" title="Delete"><i class="icon-trash"></i></a>
    </div>
  </script>

  <script id='tmpl-feed' type='text/template'>
    <div class="feedTitle<% if(active){ %> active<% } %>">
      <i class="icon icon-caret-down menu-toggle"></i>
      <% if(unread_count > 0) { %>
        <b><%= title %></b>
        <span class="badge badge-info"><%= unread_count %></span>
      <% }else{ %>
        <%= title %>
      <% } %>
    </div>
    <div class="btn-group feedMenu hide">
      <a class="btn markFeedReadAction" title="Mark all read"><i class="icon-eye-open"></i></a>
      <a class="btn markFeedUnreadAction" title="Mark all unread"><i class="icon-eye-close"></i></a>
      <a class="btn syncFeedAction" title="Sync"><i class="icon-refresh"></i></a>
      <a class="btn editFeedAction" title="Edit"><i class="icon-edit"></i></a>
      <a class="btn deleteFeedAction" title="Delete"><i class="icon-trash"></i></a>
    </div>
  </script>

  <script id='tmpl-item' type='text/template'>
    <div class="item-container<% if(open){ %> active<% } %>">
      <div class="item-icons">
        <span class="dropdown">
          <i class="icon icon-caret-down dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" role="menu" aria-labelledby="item-<%= id %>-menu">
            <li><a class="readOlderAction">Mark older items read</a></li>
          </ul>
        </span>
        <i class="readUnreadIcon icon-circle<% if(read){ %>-blank<% } %>"></i>
      </div>

      <div class="item-date hidden-phone">
        <span class="label">
          <%= formatDate(new Date(date)) %>
        </span>
      </div>

      <div class="item-title">
        <% if(!read){ %>
          <b><%= title %></b>
        <% }else{ %>
          <%= title %>
        <% } %>
      </div>
    </div>

    <% if(open){ %>
      <div class="well item-content">
        <a class="item-content-title" href="<%= url %>" target="_blank"><%= title %></a>
        <br>
        <%= content %>
        <% if(attachment_url){ %>
          <br>
          <a class="btn" href="<%= attachment_url %>">
            <i class="icon-download"></i>Download file
          </a>
        <% } %>
      </div>
    <% } %>
  </script>
