!!! 5
%head
  %title CapoRSS
  %link(rel="stylesheet" media="screen" href="css/bootstrap.min.css")
  %link(rel="stylesheet" media="screen" href="css/bootstrap-responsive.min.css")
  %link(rel="stylesheet" media="screen" href="css/font-awesome.min.css")
  %link(rel="stylesheet" media="screen" href="css/jquery.pnotify.default.css")
  %link(rel="stylesheet" media="screen" href="stylesheet.css")
  %meta(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" name="viewport")
  %script(src="js/json2.js")
  %script(src="js/jquery-1.9.1.min.js")
  %script(src="js/bootstrap.min.js")
  %script(src="js/jquery.pnotify.min.js")
  %script(src="js/underscore-min.js")
  %script(src="js/backbone-min.js")
  %script(src="app.js")
%body
  =yield
