!!! 5
%html
  %head
    %title CapoRSS

    %base(href="#{request.base_url}")

    %link(rel="stylesheet" media="screen" href="css/bootstrap.min.css")
    %link(rel="stylesheet" media="screen" href="css/bootstrap-theme.min.css")
    %link(rel="stylesheet" media="screen" href="css/font-awesome.min.css")
    %link(rel="stylesheet" media="screen" href="css/jquery.pnotify.default.css")
    %link(rel="stylesheet" media="screen" href="stylesheet.css")

    %meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    %link(rel="apple-touch-icon" href="/mobile-icon.png")
  %body
    =yield

    %script(src="js/libs.js")
    %script(src="app.js")
