!!! 5
%head
  %title Page de test
  %link(rel="stylesheet" type="text/css" href="stylesheet.css")
  %script(href="js/jquery-1.9.1.min.js")
  %script(href="js/json2.js")
  %script(href="js/underscore-min.js")
  %script(href="js/backbone-min.js")
  %script(href="js/note.js")
%body
  #content
    =yield
