body {
	font-size: 12px;
}

.feed-list {
	display: block;
	position: fixed;
    padding: 0px;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 100%;
	overflow: auto;
	cursor:	default;
	#feed-list {
		white-space: nowrap;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.folder-icon,
	.dropdown,
	.feedTitle,
	.folderTitle {
		cursor: pointer;
	}
	.navbar.affix {
		z-index: 100;
		.navbar-inner {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.nav-list {
		padding-right: 0px;
	}
}

.item-list {
	display: block;
	margin-left: 300px;
	li {
		cursor: pointer;
		.item-content {
			cursor: auto;
			margin-bottom: 5px;
		}
		padding: 0 5px;
	}
}

.upload-form {
	position: absolute;
	right: 0px;
}

#item-list {
	padding: 0;
	>li {
		border-bottom: 1px solid lightgrey;
	}
	p {
		margin: 1px;
	}
}

.item-container {
	position: relative;
	.item-icons {
		position: absolute;
	}
	.item-date {
		float: right;
		text-align: right;
	}
	.item-title {
		float: none;
		overflow: hidden;
		margin-left: 45px;
		height: 20px;
	}
}

.clear {
	clear: both;
}

.nav-list>.active>.feedTitle,
.nav-list>.active>.folderTitle {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: rgb(91, 165, 202);
}
