body {
	font-size: 12px;
	overflow: hidden;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.25em;
}

.feed-list {
	display: block;
	position: absolute;
	left: 0px;
	top: 42px;
	padding: 0px;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	cursor:	default;
	background-color: #f8f8f8;
	#feed-list {
		white-space: nowrap;
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.folder-icon,
	.dropdown,
	.feed-title,
	.folder-title {
		cursor: pointer;
	}
	.drag-hovered {
		border-bottom: 2px solid black;
	}
}

.feed-title,
.folder-title,
.item-container {
	&:hover {
		background-color: rgb(230, 230, 230);
	}
	&.active {
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
		background-color: rgb(91, 165, 202);
	}
}

#item-list {
	display: block;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	li {
		cursor: pointer;
		.item-content {
			cursor: auto;
			margin-bottom: 5px;
			overflow: hidden;
		}
		.item-content-title {
			font-size: 20px;
		}
		padding: 0px;
	}

	.item-list {
		padding: 0;
		margin: 0;

		&>li {
			border-bottom: 1px solid lightgrey;
		}

		p {
			margin: 1px;
		}

		.readUnreadIcon,
		.dropdown-toggle {
			padding: 4px 5px;
			margin: 0px;
		}
	}

	.show_more_items,
	.current_query {
		cursor: pointer;
		padding: 5px;
		background-color: #EEE;
	}

	&:focus {
		outline: 0;
	}
}

.item-container {
	position: relative;
	.item-icons {
		position: absolute;
	}
	.item-labels {
		float: right;
		text-align: right;
	}
	.item-title {
		float: none;
		overflow: hidden;
		margin-left: 45px;
		height: 20px;
	}
}

.alert {
	margin-bottom: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.mobile-item-buttons {
	float: right;
}

@media screen and (min-width:768px) {
	.feed-list {
		width: 300px - 5px;

		.feed-icon {
			padding: 0px 2px;
			margin: 0px;
			width: 16px;
			height: 16px;
			display: inline-block;

			&>i:before {
				font-size: 17px;
			}

			&>img {
				vertical-align: top;
				display: inline-block;
			}
		}

		.folder-toggle,
		.folder-icon {
			padding: 0px 2px;
			margin: 0px;
			display: inline-block;
		}

		.feed-title {
			padding-left: 35px;
		}

		#feed-list {
			padding-left: 4px;
		}
	}

	.side-bar {
		width:300px;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		.dragbar {
			background-color: rgb(230, 230, 230);
			height:100%;
			float: right;
			width: 5px;
			cursor: col-resize;
		}
	}

	#item-list {
		.item-feed-title {
			width: 200px;
			text-align: left;
		}
	}

	.content {
		margin-left: 300px;
	}
}

@media screen and (max-width:767px) {
	body {
		padding: 0px;
		font-size: 0.75em;
		.icon {
			font-size: 16px;
		}
	}

	.btn .icon{
		font-size: 20px !important;
	}

	.mobile-item-button {
		display: inline !important;
	}

	#feed-list {
		padding-left: 6px;
	}

	.feed-list {
		width: 100% !important;

		.feed-icon {
			padding: 7px 4px;
			margin: 0px;
			width: 16px;
			height: 16px;
			display: inline-block;

			&>i:before {
				font-size: 17px;
			}

			&>img {
				vertical-align: top;
				display: inline-block;
			}
		}

		.folder-toggle,
		.folder-icon {
			padding: 7px 4px;
			margin: 0px;
			display: inline-block;
		}

		.feed-title,
		.folder-title {
			height: 28px;
		}

		.feed-title {
			padding-left: 48px;
		}
	}

	.content {
		margin-left: 0px !important;
	}

	.side-bar {
		width: 100% !important;
	}

	#item-list {
		display: block;
		position: absolute;
		left: 0px;
		top: 42px;
		padding: 0px;
		width: 100%;

		.item-title {
			float: none;
			overflow: hidden;
			margin-left: 55px;
			line-height: 22px;
			padding: 5px 0;
		}

		.item-list {
			.readUnreadIcon,
			.dropdown-toggle {
				padding: 6px 6px;
				margin: 0px;
				margin-top: 3px;
			}

			.item-icons {
				padding-top: 6px;
			}
		}

		.item-feed-title {
			width: 150px;
			text-align: left;
			padding: 5px 2px;
		}
	}

}

@media screen and (max-width:365px) {
	.hidden-tiny-phone {
		display: none;
	}
}

@media screen and (max-width:500px) {
	.hidden-small-phone {
		display: none;
	}
}
