-# Item underscore template
:plain
  <script id='tmpl-item' type='text/template'>
    <div class="item-container<% if(item.open){ %> active<% } %>">
      <div class="item-icons">
        <span class="dropdown">
          <i class="icon icon-caret-down dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" role="menu" aria-labelledby="item-<%= item.id %>-menu">
            <li><a class="readOlderAction">#{t.buttons.mark_older_read}</a></li>
          </ul>
        </span>
        <i class="readUnreadIcon icon-circle<% if(item.read){ %>-blank<% } %>"></i>
      </div>

      <div class="item-date hidden-phone">
        <span class="label">
          <%= formatDate(new Date(item.date)) %>
        </span>
      </div>

      <div class="item-title">
        <% if(item.feed_title) { %>
          <span class="item-feed-title label hidden-phone">
            <%= item.feed_title %>
          </span>
        <% } %>
        <% if(!item.read){ %>
          <b><%= item.title %></b>
        <% }else{ %>
          <%= item.title %>
        <% } %>
      </div>
    </div>

    <% if(item.open){ %>
      <div class="well item-content">
        <a class="item-content-title" href="<%= item.url %>" target="_blank"><%= item.title %></a>
        <br>
        <%= item.content %>
        <% if(item.attachment_url){ %>
          <br>
          <a class="btn" href="<%= item.attachment_url %>">
            <i class="icon-download"></i>Download file
          </a>
        <% } %>
      </div>
    <% } %>
  </script>
