-# ItemList underscore template
:plain
  <script id='tmpl-itemlist' type='text/template'>
    <% if(item_list.query){ %>
      <div class="current_query"><strong>#{t.search.current_search} :</strong> <%= item_list.query %></div>
    <% } %>

    <ul class="item-list"></ul>

    <% if(!item_list.all_loaded){ %>
      <div class="show_more_items">#{t.buttons.show_more_items}</div>
    <% } %>
  </script>
