-# Special Folder underscore template
:plain
  <script id='tmpl-special-folder' type='text/template'>
    <div onclick="" class="folder-title<% if(folder.active){ %> active <% } %>">
      <% if(folder.unread_count > 0) { %>
        <div class="folder-badge">
          <span class="badge badge-primary"><%= folder.unread_count %></span>
        </div>
      <% } %>
      <div class="folder-text">
        <i class="folder-icon fa <%= folder.iconclass %>"></i>
        <%= folder.name %>
      </div>
    </div>
  </script>
