-# Special Folder underscore template
:plain
  <script id='tmpl-special-folder' type='text/template'>
    <div class="folder-title<% if(folder.active){ %> active <% } %>">
      <i class="folder-icon icon <%= folder.iconclass %>"></i>
      <%= folder.name %>
      <% if(folder.unread_count > 0) { %>
        <span class="badge badge-info"><%= folder.unread_count %></span>
      <% } %>
    </div>
  </script>
