#item-list {
	overflow-y: auto;
	overflow-x: hidden;

	-webkit-overflow-scrolling: touch;

	.item-list {
		margin: 0;

		&>li {
			border-bottom: 1px solid lightgrey;
			cursor: pointer;
		}
	}

	.readUnreadIcon,
	.dropdown-toggle {
		padding: 4px 5px;
	}

	.item-content {
		cursor: auto;
		margin-bottom: 5px;
		overflow: hidden;
	}

	.item-content-title {
		font-size: 2em;
		line-height: 1.2;
	}

	.show_more_items,
	.current_query {
		cursor: pointer;
		padding: 5px;
		background-color: #EEE;
	}

	&:focus {
		outline: 0;
	}

	.item-container {
		position: relative;

		.item-icons {
			position: absolute;
		}

		.item-labels {
			float: right;
			text-align: right;
		}

		.item-title {
			float: none;
			overflow: hidden;
			margin-left: 45px;
			height: 20px;
		}
	}

	.item-feed-title {
		display: inline-block;
	}
}

// Desktop view
@media screen and (min-width:768px) {
	#item-list {
		.item-feed-title {
			max-width: 200px;
			text-align: left;
			margin-right: 3px;
		}
	}
}

// Mobile view
@media screen and (max-width:767px) {
	#item-list {
		position: absolute;
		width: 100%;

		.item-container {
			.item-title {
				margin-left: 55px;
				padding: 5px 0;
			}

			.item-icons {
				padding-top: 6px;
			}
		}

		.readUnreadIcon,
		.dropdown-toggle {
			padding: 6px 6px;
		}

		.item-feed-title {
			max-width: 150px;
			text-align: left;
			padding: 5px 2px;
		}
	}
}
