-# ItemList underscore template
:plain
  <script id='tmpl-itemlist' type='text/template'>
    <ul class="item-list list-unstyled"></ul>

    <% if(!item_list.all_loaded){ %>
      <div onclick="" class="show_more_items">#{t.buttons.show_more_items}</div>
    <% } %>
  </script>
